<ion-view view-title="Events">
  <ion-content class="padding">
<div class="list">
    <a class="item item-avatar-left" href="#">
      <img src="img/opal.png">
      <h2 class="teams">Team Opal </h2>
      <h2>BSIT1-A | BSIT2-A </h2>
      <p>Mr. Melner Balce</p>
    </a>
  <a class="item item-avatar-left" href="#">
      <img src="img/quartz.png">
      <h2 class="teams">Team Quartz </h2>
      <h2>BSIT1-D| BSIT3-B </h2>
      <p>Mr. Paul Jayme</p>
    </a>
  <a class="item item-avatar-left" href="#">
      <img src="img/ruby.png">
      <h2 class="teams">Team Ruby </h2>
      <h2>ACT1-B | BSIT3-A </h2>
      <p>Ms. Liezel Armada</p>
    </a>

    <a class="item item-avatar-left" href="#">
      <img src="img/garnet.png">
	     <h2 class="teams">Team Garnet </h2>
      <h2>BSCS1-A | BSCS2-A | BSIT4-B</h2>
      <p>Ms. Sharmaine L. Manuel</p>
    </a>
	
    <a class="item item-avatar-left" href="#">
      <img src="img/aquamarine.png">
	     <h2 class="teams">Team Aquamarine </h2>
      <h2>BSCS1-C | ACT2-A | BSIT4-A</h2>
      <p>Mr. Deo Pozon</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/tourmaline.png">
	     <h2 class="teams">Team Tourmaline </h2>
      <h2>BSIT1-C | BSIT1-C</h2>
      <p>Mr. Oliver Bustarga</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/sapphire.png">
	     <h2 class="teams">Team Sapphire</h2>
      <h2>ACT1-A| BSCS3-A</h2>
      <p>Ms. Angelie Tesorero</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/emerald.png">
	     <h2 class="teams">Team Emerald</h2>
      <h2>BSIT1-E | BSCS4-A</h2>
      <p>Mr. Ronnie Luy</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/amethyst.png">
	     <h2 class="teams">Team Amethyst</h2>
      <h2>BSIT1-B | BSIT2-B</h2>
      <p>Mr. Doy Bello</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/topaz.png">
	     <h2 class="teams">Team Topaz</h2>
      <h2>BSCS1-B| BSCS2-B</h2>
      <p>Mr. JD Pagot</p>
    </a>
	
	


</div>

  </ion-content>
</ion-view>
