<ion-view view-title="Events">
  <ion-content class="padding">

	

 <div class="list card">
  <div class="item">
	<center>Schedule of Events </center>
  </div>  
  <div class="item">
	<div class="button-bar button-clear">
		  <a class="button button-calm"  href="#/app/event">February 2</a>
		  <a class="button button-calm"  href="#/app/day2" >February 3</a>
		  <a class="button button-calm " href="#/app/day3" >February 4</a>
		  <a class="button button-calmactive" href="#/app/day4" >February 5</a>
		</div>
  </div>
 

  <div class="item item-body">
		<p>
			<span class="title"> #GCCCSCares</span><br>
		</p>
		
		
   
  </div>
  </div>
  </ion-content>
</ion-view>
