<ion-view view-title="Events">
  <ion-content class="padding">
 <!--  <p class="item item-header">October 26, 2016</p>
  <div class="row">
	<div class="col-20">7:30AM </div>
	<div class="col-50">
	Opening Ceremony</br>
	Invocation</br>
	National Anthem</br>
	Welcome Remarks</br>
	Statement of the Purpose</br>
	Opening Video
	</div>
	<div class="col-33">
				</br></br></br>
				<span class="speaker"> Dr. Erlinda C. Abarintos</span>
				<span class="speaker"> Mr. Ronnie Luy</span><br>
				<span class="speaker"> Team's Trumpet Dance</span>
	</div>
  </div>
  <div class="clear"></div>
  <div class="row">
	<div class="col-20">8:30AM <br> 9:30AM</div>
	<div class="col-50">Rhythmic Applause & Cheer
	</div>
	<div class="col-33">
				<span class="speaker">Ms. Armilyn Martinez</span>
				<span class="speaker">Arnie Armada</span><br>
			
	</div>
  </div>
  <div class="clear"></div>
  <div class="row">
	<div class="col-20">9:30AM <br> 10:30AM</div>
	<div class="col-50">Music Heroes
	</div>
	<div class="col-33"></div>
  </div>
  <div class="clear"></div>
  <div class="row">
	<div class="col-20">10:00AM <br> 12:00NN</div>
	<div class="col-50">Modern Ethnic Dance</div>
	<div class="col-33"></div>
  </div>
  <div class="clear"></div>
  <div class="row">
	<div class="col-20">12:00NN <br> 1:00PM</div>
	<div class="col-50">LUNCH BREAK</div>
	<div class="col-33"></div>
  </div>
  <div class="clear"></div><div class="clear"></div>
   <div class="row">
	<div class="col-20">1:00PM - 2:00PM</div>
	<div class="col-50">
	Photography Contest</br>
	CCS Students</br>
	SHS Students</br>
	ICT Students</br>
	</div>
	<div class="col-33">
				<span class="speaker"> CCS ROOM 2</span><br>
				<span class="speaker"> Mr. Ronnie Luy</span><br>
				<span class="speaker"> CCS ROOM 3</span><br>
				<span class="speaker"> Mr. Arnie Armada</span>
	</div>
  </div>
  <div class="row">
  <div class="col-20">2:00PM - 4:00PM</div>
	<div class="col-50">
	Photo Editing </br>
	</div>
	<div class="col-33">
				<span class="speaker"> CCS Comlab 1</span><br>
				<span class="speaker"> Mr. Ronnie Luy</span><br>
	</div>
  </div>
 -->
<img src="img/oct26.png" width="95%">

  </ion-content>
  <div class="bar bar-footer">
  <div class="tabs tabs-energized">
  <a class="tab-item" href="#/app/day2">
    Oct 26
  </a>
  <a class="tab-item" href="#/app/day3">
    Oct 27
  </a>
  <a class="tab-item" href="#/app/day4">
    Oct 28
  </a>
</div>
</div>
</ion-view>
