<ion-view view-title="Events">
  <ion-content class="padding">
  <p class="item item-header">October 26, 2016</p>
  <div class="row">
	<div class="col-20">7:30AM </div>
	<div class="col-50">
	Opening Ceremony</br>
	Invocation</br>
	National Anthem</br>
	Welcome Remarks</br>
	Statement of the Purpose</br>
	Opening Video
	</div>
	<div class="col-33">
				</br></br></br>
				<span class="speaker"> Dr. Erlinda C. Abarintos</span>
				<span class="speaker"> Mr. Ronnie Luy</span><br>
				<span class="speaker"> Team's Trumpet Dance</span>
	</div>
  </div>
  <div class="clear"></div>
  <div class="row">
	<div class="col-20">8:30AM <br> 9:30AM</div>
	<div class="col-50">Rhythmic Applause & Cheer
	</div>
	<div class="col-33">
				<span class="speaker">Ms. Armilyn Martinez</span>
				<span class="speaker">Arnie Armada</span><br>
			
	</div>
  </div>
  <div class="clear"></div>
  <div class="row">
	<div class="col-20">9:30AM <br> 10:30AM</div>
	<div class="col-50">Music Heroes
	</div>
	<div class="col-33"></div>
  </div>
  <div class="clear"></div>
  <div class="row">
	<div class="col-20">10:00AM <br> 12:00NN</div>
	<div class="col-50">Modern Ethnic Dance</div>
	<div class="col-33"></div>
  </div>
  <div class="clear"></div>
  <div class="row">
	<div class="col-20">12:00NN <br> 1:00PM</div>
	<div class="col-50">LUNCH BREAK</div>
	<div class="col-33"></div>
  </div>
  <div class="clear"></div><div class="clear"></div>
   <div class="row">
	<div class="col-20">1:00PM - 2:00PM</div>
	<div class="col-50">
	Photography Contest</br>
	CCS Students</br>
	SHS Students</br>
	ICT Students</br>
	Statement of the Purpose</br>
	Opening Video
	</div>
	<div class="col-33">
				<span class="speaker"> Mr. Ronnie Luy</span><br>
				<span class="speaker"> CCS ROOM 3</span><br>
				<span class="speaker"> Team's Trumpet Dance</span>
	</div>
  </div>
<!-- <div class="list">
<p class="item item-header">October 26, 2016</p>
    <a class="item " href="#">
      <h2 class="teams">7:30AM </h2>
      <p class="space">	Opening Ceremony</br>
				Invocation</br>
				National Anthem</br>
</p>
    </a>
  <a class="item item-avatar-left" href="#">
      <img src="img/quartz.png">
      <h2 class="teams">Team Quartz </h2>
      <h2>BSIT1-D| BSIT3-B </h2>
      <p>Mr. Paul Jayme</p>
    </a>
  <a class="item item-avatar-left" href="#">
      <img src="img/ruby.png">
      <h2 class="teams">Team Ruby </h2>
      <h2>ACT1-B | BSIT3-A </h2>
      <p>Ms. Liezel Armada</p>
    </a>

    <a class="item item-avatar-left" href="#">
      <img src="img/garnet.png">
	     <h2 class="teams">Team Garnet </h2>
      <h2>BSCS1-A | BSCS2-A | BSIT4-B</h2>
      <p>Ms. Sharmaine L. Manuel</p>
    </a>
	
    <a class="item item-avatar-left" href="#">
      <img src="img/aquamarine.png">
	     <h2 class="teams">Team Aquamarine </h2>
      <h2>BSCS1-C | ACT2-A | BSIT4-A</h2>
      <p>Mr. Deo Pozon</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/tourmaline.png">
	     <h2 class="teams">Team Tourmaline </h2>
      <h2>BSIT1-C | BSIT1-C</h2>
      <p>Mr. Oliver Bustarga</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/sapphire.png">
	     <h2 class="teams">Team Sapphire</h2>
      <h2>ACT1-A| BSCS3-A</h2>
      <p>Ms. Angelie Tesorero</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/emerald.png">
	     <h2 class="teams">Team Emerald</h2>
      <h2>BSIT1-E | BSCS4-A</h2>
      <p>Mr. Ronnie Luy</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/amethyst.png">
	     <h2 class="teams">Team Amethyst</h2>
      <h2>BSIT1-B | BSIT2-B</h2>
      <p>Mr. Doy Bello</p>
    </a>
	<a class="item item-avatar-left" href="#">
      <img src="img/topaz.png">
	     <h2 class="teams">Team Topaz</h2>
      <h2>BSCS1-B| BSCS2-B</h2>
      <p>Mr. JD Pagot</p>
    </a>
	
	


</div> -->

  </ion-content>
</ion-view>
