<ion-view view-title="Teams">
  <ion-content class="padding">
<div class="list" ng-repeat="team in teams">
  
	
	 <a class="item item-avatar-left {{team.add}} {{team.color}}" href="#">
      <h2 class="teams">Team {{team.id}} - {{team.name}} </h2>
      <h2>{{team.advocacy}}</h2>
      <p>{{team.adviser}}</p>
    </a>
		
	
	<!-- 
	<a class="item item-avatar-left 3rs item-balanced" href="#">
      <h2 class="teams">Team 1 - Queen Green Gaea </h2>
      <h2>3RS</h2>
      <p>Ms. Liezel Armada</p>
    </a>
  <a class="item item-avatar-left item-calm" href="#">
      
      <h2 class="teams">Team 2 - Cyber Neo</h2>
      <h2>Netiquette</h2>
      <p>Ms. Sharmaine L. Manuel</p>
    </a>
  <a class="item item-avatar-left item-yellow" href="#">
      
      <h2 class="teams">Team 3 - Yellow Thunder</h2>
      <h2>Anti-Bullying</h2>
      <p>Ms. Angelie Tesorero</p>
    </a>

    <a class="item item-avatar-left item-royal" href="#">
      
	     <h2 class="teams">Team 4 - DragLords</h2>
      <h2>Anti-Drugs</h2>
      <p>Mr. JD Pagot</p>
    </a>
	
    <a class="item item-avatar-left item-brown" href="#">
      
	     <h2 class="teams changeColor">Team 5 - Captain Elder </h2>
      <h2 class="changeColor">Respect for Elders</h2>
      <p>Mr. Melner Balce</p>
    </a>
	<a class="item item-avatar-left item-gray" href="#">
      
	     <h2 class="teams">Team 6 - Gray Nepthis</h2>
      <h2>Nationalism</h2>
      <p>Mr. Felizardo Bello</p>
    </a>
	<a class="item item-avatar-left item-black" href="#">
      
	     <h2 class="teams changeColor">Team 7 - Super Fuse</h2>
      <h2 class="changeColor">Conservation Of Energy</h2>
      <p>Ms. Lanie Mirano</p>
    </a>
	<a class="item item-avatar-left item-assertive" href="#">
	     <h2 class="teams">Team 8 - Korra</h2>
      <h2>Gender Equality</h2>
      <p>Ms. Jenny Bolutate</p>
    </a>
	 -->
	
	


</div>

  </ion-content>
</ion-view>
